BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 512
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BreakBeforeBraces: Allman
SortIncludes: Never