#include <windows.h>
#include <commctrl.h>
#include "DCCpp_dlg_definitions.h"

//
// DCCPP Parameter dialog
//
DCCPP_PARAM_DLG DIALOG 0, 0, 200, 120
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Parametres de connexion"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Mode de connexion : ", 0, 25, 7, 70, 9, SS_LEFT, WS_EX_LEFT
    AUTORADIOBUTTON "USB", DCCPP_PARAM_DLG_USB_RADIO, 107, 7, 31, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON "WIFI", DCCPP_PARAM_DLG_WIFI_RADIO, 143, 7, 31, 8, 0, WS_DISABLED, WS_EX_LEFT
    LTEXT           "Port Com : ", DCCPP_PARAM_DLG_COM_LABEL, 25, 27, 36, 9, SS_LEFT, WS_EX_LEFT
    COMBOBOX        DCCPP_PARAM_DLG_COM_LIST, 107, 24, 67, 200, CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, WS_EX_LEFT
    LTEXT           "Adresse IP : ", DCCPP_PARAM_DLG_IP_LABEL, 25, 47, 41, 9, WS_DISABLED | SS_LEFT, WS_EX_LEFT
    EDITTEXT        DCCPP_PARAM_DLG_IP_EDITTEXT, 107, 44, 67, 15, WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT
    LTEXT           "Nb de modules S88 : ", 0, 25, 67, 69, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        DCCPP_PARAM_DLG_S88_EDITTEXT, 107, 64, 67, 15, ES_AUTOHSCROLL, ES_NUMBER, WS_EX_LEFT
    PUSHBUTTON      "Annuler", DCCPP_PARAM_DLG_CANCEL_BUTTON, 13, 94, 55, 16, 0, WS_EX_LEFT
    PUSHBUTTON      "Connexion", DCCPP_PARAM_DLG_CONNECTION_BUTTON, 73, 94, 55, 16, 0, WS_EX_LEFT
    PUSHBUTTON      "Scan", DCCPP_PARAM_DLG_SCAN_BUTTON, 133, 94, 55, 16, 0, WS_EX_LEFT
}